############################
#      Build results       #
############################
**/[Dd]ebug/
[Rr]elease/
x64/
**/bin/
**/obj/
/.idea

############################
#  Visual C/C# cache files  #
############################
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.ide*
.vs/
